@media (min-width:1024px){
    .bloccontact{
        display: flex;
        align-content: center;
        height: auto;
        flex-direction: column;
        gap: 5px;
    }
    .bloccontact h1{
        margin-bottom: 10px;
    }
    .bloccontact span{
        color: black
    }
    } 
    @media (max-width:1024px) {
        .bloccontact{
            display: flex;
            align-content: center;
            height: auto;
            flex-direction: column;
            gap: 5px;
            text-align: center;
        }
        .bloccontact h1{
            margin-bottom: 10px;
        }
        .bloccontact span{
            color: black
        }
    }