@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.container{
    width: 1200px;
    height: auto;
    display: flex;
    align-items: center;
    margin: auto;
}
#header{
    background-color: #19501c;
    display: flex;
    justify-content: center;
    .container{
        height: 65px;
    }
    .name{
        width: 151px;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #59d474;
        font-family: "Outfit";
        font-weight: 900;
    }
    .navbar{
        width: 331px;
        height: 14px;
        display: flex;
        justify-content: end;
        margin-left: auto;
        flex-direction: row;
        list-style-type: none;
    }
    .navbar ul{
        align-items: center;
        display: flex;
        gap:30px;
    }
    .navbar li{
        display: inline-block;
        color: white;
        font-family: "Inter";
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.055em;
    }
    .navbar li:hover {
        padding: 10px;
        background-color: #0dd724;
        border-radius: 5px;
    }
    
}


#hero{
    background-color: #3dd05d;
    align-content: center;
    justify-content: center;
.container{
    height: auto;
    flex-direction: row !important;
}
.blocipsum{
    align-content: center;
    width: 463px;
    height: 327px;
    border-radius: 45px 0px 0px 0px;
    font-family: "Inter";
    flex-direction: column;
    justify-content: space-between;
}

span{
    color:#FFB800;
    font-size: 65px;
    font-weight: 800;
    line-height: 65px;
    letter-spacing: 0.04em;
}
h2{
    color: #16bc10;
    font-size: 26px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
}
.hr1{
    margin-bottom: 20px;
}
p{
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.88px;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}
.blocipsum a{
    text-decoration: none;
    width: 141px;
    height: 41px;
    top: 494px;
    left: 120px;
    padding: 10px 27px 10px 27px;
    gap: 10px;
    border-radius: 45px;
    background: #FFB800;
    color:#000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.88px;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}

.logo-middle{
    width: 590px;
    height: 590px;
}
.logo-middle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}