#hero{
    background-color: #3dd05d;
    align-content: center;
    justify-content: center;
.container{
        width: 1200px;
        height: auto;
        display: flex;
        align-items: center;
        margin: auto;
    }

.aboutme{
    align-content: center;
    height: auto;
    border-radius: 45px 0px 0px 0px;
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.aboutme h1{
text-align: center;
}
span{
    color:#FFB800;
    font-size: 65px;
    font-weight: 800;
    line-height: 65px;
    letter-spacing: 0.04em;
}

p{
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.88px;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}


}